**/node_modules
**/.next
**/dist
**/build
**/.turbo
**/.git
**/.DS_Store
**/.env
**/.env.local
**/.env.production
**/*.log
**/.vscode
**/.idea
**/coverage
**/playwright-report
**/test-results
**/.pnpm-store
**/.cache
.github
docs
